/target
/lib
/classes
/checkouts
pom.xml*
dev-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port

/node_modules
/log

jupyter.ipynb
.ipynb_checkpoints
.eastwood
.vscode
dist
test-config.edn
pom.xml
pom.xml.asc
.settings/
.project
.classpath
.calva
.VSCodeCounter
.clj-kondo
.clj-kondo
.lsp
.lsp/sqlite.4.db