{:prod           true
 :port           3000
 :app-store-host "choppy.3steps.cn"
 :app-store-port 80
 :cromwell       {:url    "http://localhost:8080"
                  :labels [:data_type
                           :project
                           :regulatory_designation
                           :sample_name
                           :version]}}
